# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / package related
/.eggs/
/*.egg-info/
/dist/
/build/

# pyenv
.python-version

# pipenv
# .local
.pipfile
Pipfile.lock

# logs
*.log

# uvicorn
 uvicorn

# SQLite databases
*.db
*.sqlite3

# staticfiles
/static/
static/
